
<p><%= link_to 'New', new_article_path %></p>

<div class="container">
<% @articles.each do |article| %>
  <div class="row">
    <div class="col-md-12">
      <h2><%= link_to article.title, article %></h2>
      <p class="info">Posted on <%= article.created_at.strftime '%D at %l:%M %p' %></p>
      <p><%= article.text %></p>
    </div>
  </div>
<% end %>
</div>
