<%= render @article %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h2>Comments</h2>
    <%= render @article.comments %>

    <h3>Write a response...</h3>
    <%= render 'comments/form' %>
  </div>
</div>
